@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #EAE7DC;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #EAE7DC;
	padding-left: 2vw;
	padding-right: 2vw;
	box-shadow: 0 0 56px rgba(0.5,0.5,0.5,.1);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #8E8D8A;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #E85A4F;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #E85A4F;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.test-frame {
  width: 65vw;
  height: 60vh;
  margin: 0 auto;
	padding-top: 5vh;
  padding-bottom: 5vh;
}

.footer-basic {
  padding:3vh 0;
  background-color: #EAE7DC;
  color:#8E8D8A;
	box-shadow: 0 0 56px rgba(0.5,0.5,0.5,.1);
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
	color: #E85A4F;
}

.footer-basic .social {
  text-align:center;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #8E8D8A;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
	color: #E85A4F;
	border:1px solid #E85A4F;
	transition: all ease-in-out 250ms;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#8E8D8A;
  margin-bottom:0;
}
