/* Importing font */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
/* Apply CSS to everything */
body {
	margin: 0;
	background: #EAE7DC;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}
/* Nav Bar */
header {
  background: #EAE7DC;
	padding-left: 2vw;
	padding-right: 2vw;
	box-shadow: 0 0 56px rgba(0.5,0.5,0.5,.1);
}

header::after {
  content: '';
  display: table;
  clear: both;
}
/* Icon in nav bar */
.logo {
  float: left;
  padding: 10px 0;
}

header img {
	height: 7vh;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #8E8D8A;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
/* hover in nav bar */
nav a:hover {
  color: #E85A4F;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #E85A4F;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/* Footer */
.footer-basic {
  padding:3vh 0;
  background-color: #EAE7DC;
  color:#8E8D8A;
	box-shadow: 0 0 56px rgba(0.5,0.5,0.5,.1);
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
	color: #E85A4F;
}

.footer-basic .social {
  text-align:center;
}

.footer-basic .social > a {
  font-size:20px;
  width:35px;
  height:35px;
  line-height:35px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #8E8D8A;
  margin:0 7px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
	color: #E85A4F;
	border:1px solid #E85A4F;
	transition: all ease-in-out 250ms;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#8E8D8A;
  margin-bottom:0;
}
/* Container setting up the grid */
.info-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80vw;
	margin: 0 auto;
}
/* Image frame inside container */
.image-frame {
	margin: 0 auto;
	width: 40vw;
	height: 55vh;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.image-frame img {
	height: 55vh;
	width: 40vw;
}
/* Setting up text properties*/
.info-container p {
	text-align: center;
	color: #8E8D8A;
	width: 85%;
}
/* text inside container */
.info-container .text-container {
	display: flex;
  justify-content: center;
  align-items: center;
	text-align: left;
	width: 100%;
}

.text-container b {
	text-decoration: underline;
}
/* text wrapper for info page */
.text-wrapper {
	margin: 0 auto;
	width: 60%;
	text-align: center;
	color: #8E8D8A;
}

.text-wrapper ul {
	text-align: left;
}

.text-wrapper ul {
	text-align: left;
}

.text-wrapper a {
	color: #E85A4F;
}

/* Home page frame properties */

.home-frame img {
	width: 40vw;
	height: 55vh;
	padding-bottom: 5vh;
}

.home-frame iframe {
	width: 40vw;
	height: 55vh;
	padding-bottom: 5vh;
}

/* Media queries */

@media (max-width: 860px) {
	.info-container {
		grid-template-columns: 1fr;
	}

	.image-frame img {
		height: 41.25vh;
		width: 50vw;
	}

	.image-frame iframe {
		height: 41.25vh;
		width: 50vw;
	}

	.image-frame {
		margin: 0 auto;
		width: 50vw;
		height: auto;
		padding-top: 1vh;
		padding-bottom: 0vh;
	}

	.home-frame img {
		height: 41.25vh;
		width: 50vw;
	}

	.home-frame iframe {
		height: 41.25vh;
		width: 50vw;
	}

	.home-frame {
		margin: 0 auto;
		width: 50vw;
		height: auto;
		padding-top: 1vh;
		padding-bottom: 0vh;
	}

	.info-container p {
		font-size: 12px;
		width: 85%;
	}

	.info-container .text-container {
		font-size: 10px;
		width: 70%;
		margin: 0 auto;
	}

	.text-wrapper h1{
		font-size: 15px
	}

	.text-wrapper h2{
		font-size: 13px
	}

	.text-wrapper p{
		font-size: 11px
	}

	.logo {
		display: none;
	}

	nav {
	  float: none;
	}

	nav li {
	  display: grid;
		grid-template-columns: 1fr;
		margin: 0 auto;
		text-align: center;
	}

	header {
		padding-bottom: 15px;
	}

	nav a {
	  font-size: 15px;
	}

	header img {
		height: 3.5vh;
	}


}

@media (max-width: 640px) {
	.image-frame img {
		height: 34vh;
		width: 44vw;
	}

	.image-frame iframe {
		height: 34vh;
		width: 44vw;
	}

	.image-frame {
		margin: 0 auto;
		width: 44vw;
		height: auto;
		padding-top: 1vh;
		padding-bottom: 0vh;
	}

	.home-frame img {
		height: 34vh;
		width: 44vw;
	}

	.home-frame iframe {
		height: 34vh;
		width: 44vw;
	}

	.home-frame {
		margin: 0 auto;
		width: 44vw;
		height: auto;
		padding-top: 1vh;
		padding-bottom: 0vh;
	}

	.info-container p {
		font-size: 10px;
		width: 85%;
	}

	.info-container .text-container {
		font-size: 8px;
		width: 60%;
		margin: 0 auto;
	}

	.text-wrapper h1{
		font-size: 13px
	}

	.text-wrapper h2{
		font-size: 11px
	}

	.text-wrapper p{
		font-size: 9px
	}

}
